<nav class="navbar navbar-expand-lg d-flex bg-body-tertiary justify-content-between">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CMS</a>
    <div class="justify-content-between" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href=""><i
                    class="fas fa-user"></i> User
              Profile</a></li>
            <li><a class="dropdown-item" href=""><i class="fas fa-sign-out-alt"></i>
              Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>